{% extends 'base.html' %}
{% load static %} 
{% block title %}Django Delights{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h2>Ingredients</h2>
    <a href="{% url 'ingredientcreate' %} ">Add New Ingredient to Inventory</a>
    <hr/>
    <table class="inventory-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Unit Price</th>
            </tr>
        </thead>
        <tbody>
        {% comment %} Can use lowercase ModelName_list or object_list or context_object_name {% endcomment %}
        {% for ingredient in ingredient_list %} 
            <tr>
                <td>
                    <a href="{% url "ingredientupdate" ingredient.id %}">{{ ingredient.name }}</a>
                </td>
                <td>{{ ingredient.quantity }}</td>
                <td>{{ ingredient.unit }}</td>
                <td class="price">${{ ingredient.unit_price|stringformat:".2f" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}