{% extends 'base.html' %}
{% load static %} 
{% block head %}{% endblock %}
{% block content %}
    <h2>Menu</h2>
    <p><a href="{% url 'menuitemcreate' %}">Add New Item to Menu</a></p>
    <p><a href="{% url 'recipecreate' %}">Add Recipe Requirement for an Existing Menu Item</a></p>
    <hr/>
    <ul class="menu-items">
    {% for menu_item in menuitem_list %}
        <li>
            <div class="menu-item-header">
                <div class="menu-item-title">{{ menu_item.title }}</div>
                <div class="menu-item-price">${{ menu_item.price|stringformat:".2f" }}</div>
            </div>
            <ul class="menu-item-ingredients">
                {% for recipe in menu_item.recipe_set.all %}
                <li>{{ recipe.quantity }} {{recipe.ingredient.unit }} {{ recipe.ingredient.name }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}