{% extends 'base.html' %}
{% load static %} 
{% block head %}{% endblock %}
{% block content %}
    <h2>Purchases</h2>
    <table class="inventory-table">
        <thead>
            <tr>
                <th>Menu Item</th>
                <th>Total</th>               
            </tr>
        </thead>
        <tbody>
        {% for title, nums in item_total.items %}
            <tr>
                <td>{{ title }}</td>                
                <td>{{ nums }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr/>
    <h2>Totals</h2>
    <div style="color: green;">Total Revenue: ${{ revenue|stringformat:".2f" }}</div>
    <div style="color: red;">Total Cost: ${{ total_cost|stringformat:".2f" }}</div>
    <div style="color: #536162; margin-top: 0.5em;">Total Profit: ${{ profit|stringformat:".2f" }}</div>
{% endblock %}